{% extends "base.html" %}
{% load static %}

{% block title %}
{{object.story_title}}
{% endblock title %}

{% block body %}

<div class=" my-4">
    <p>sadfhlaksjhf</p>
    <p>{{object.story_title}}</p>
    <p>{{MEDIA_ROOT}}</p>

    <p>{{object.story|safe}}</p>

    {% include "blogdescription/image.html" with value=sense  %}

    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/50VNCymT-Cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="1651" height="615" src="https://www.youtube.com/embed/fKF0uaABJtc?list=RDfKF0uaABJtc" title="Dear Comrade : O Kalala Kathala Video Song | Sathya Prakash,Chinmayi Sripada | Rehman" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/fKF0uaABJtc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

{% endblock body %}